#content {
    width: 100%;
    padding: 0px 20px;
    padding-top: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* tabs */

#tabs {
    /* background: rgb(247, 247, 247); */
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    /* box-shadow: 0 1px 2px rgb(82 81 86); */
    border: 0;
    width: 100%;
    margin-top: 30px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000000;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid rgb(0, 27, 148) !important;
    font-size: 20px;
    /* font-weight: 500; */
}

#nav-tab {
    flex-wrap: nowrap;
}
.nav-tabs {
    border-bottom: 1px solid #e4e8ec;
}
.nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(0, 0, 0);
    /* font-size: 14px; */
}

#back {
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
}

#Search-c {
    height: 45px;
    width: fit-content;
    display: flex;
    margin: auto;
    background: rgb(255 255 255);
    justify-content: center;
    border-radius: 5px;
    padding: 0px 15px;
    align-items: center;
    box-shadow: 0 1px 2px rgb(82 81 86);
    margin-top: -55px;
    margin-bottom: 25px;
}

#Search-c input {
    height: 40px;
    width: 300px;
    border-radius: 2px;
    padding: 4px 10px;
}

#Search-c span {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 2px;
}

#Search-c span i {
    line-height: 40px;
    color: rgb(0 27 148);
    font-size: 30px;
    font-weight: 500;
    margin-left: 12px;
}

#section {
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #Search-c {
        width: 80vw;
    }
    #tabs {}
}